/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --header_buttons-color: #ff0070;
  --header_buttons_active-color: #ff0070;
  --main-title-color: #db00ff;
  --header_text-color: #000028;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decorated-zone-color: #ff0070;
  --text-color: #f1b2ce;
  --text-link-color: #f1b2ce;
  --text-link-shadow-color: #ff0070;
  --title-decor-bg-color: #ff0070;
  --header-buttons-hover-color:rgba(255, 0, 112, 0.4);
}

:root.theme-light {
  --accent-color: #ff0070;
  --header_buttons-color: #353430;
  --header_buttons_active-color: #353430;
  --main-title-color: #ffc2e6;
  --header_text-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --decorated-zone-color: #353430;
  --text-color: #353430;
  --text-link-color: #353430;
  --text-link-shadow-color: #ff8dcb;
  --title-decor-bg-color: #ff8dcb;
  --header-buttons-hover-color: rgba(50, 49, 45, 0.4);
}
